.banner-section {
  .banner-slide-wrap {
    position: relative;

    .slide-img {
      img {
        width: 100%;
        height: 100vh;
      }
    }

    .banner-title-wrap {
      color: $white-color;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, .34);

      .title-content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .banner-title {
          margin-bottom: 30px;

          &>* {
            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
          }
        }

        .banner-sub-title {
          margin-bottom: 30px;
        }

        .btn-wrap {
          button {
            margin-right: 30px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .mouse-icon-wrap {
          position: absolute;
          bottom: 26px;

          .scroll-down {
            display: inline-block;

            .mouse-icon {
              position: relative;
              display: flex;
              justify-content: center;
              width: 35px;
              height: 57px;
              border: 3px solid $white-color;
              border-radius: 22px;

              .circle {
                position: absolute;
                display: block;
                width: 6px;
                height: 10px;
                background: $white-color;
                border-radius: 30%;
                margin-top: 10px;
                transition: all .3s ease-in-out;
                animation: fadeMouse 2.5s linear infinite;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeMouse {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 0;
  }
}