.booking-history-section {
  .sidebar-menu {
    display: none;

    @media screen and (min-width: 992px) {
      display: block;
    }
  }

  table {
    border-width: 1px solid;
    border-color: #f6f6f6;
    width: 100%;

    thead {
      tr {
        background-color: #f6f6f6;
      }

      th {
        padding: 10px;
				text-align: center;
      }
    }

    tbody {
      tr {
        border: 1px solid;
        border-color: #f6f6f6;
        width: 930px;
        height: 68px;

        td {
          text-align: center;
          font-size: 16px;
        }
      }
		}
		
    td {
      .cancel {
        &:hover {
          color: $primary-color;
          text-decoration: none;
          border-bottom: 1px solid;
        }
      }
    }
  }

  .doctor-container {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }

    .doctor-image {
			width: 60px;
			@media screen and (min-with: 768px) {
				width: 100px;
			}
    }

    .doctor-text {
      padding: 10px;
    }
  }

  .end-col {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .side-menu-item {
    background-color: #f6f6f6;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }
}