.booking-info-section {
  .booking-header {
    padding: 15px 20px;
    background-color: $grey-color;
  }
  .specialty-wrap {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    .specialty {
      display: flex;
      padding: 10px;
      border: 1px solid $white-color;
      background-color: $white-color;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
  
      .label {
        display: flex;
        align-items: center;
        padding-right: 40px;
        position: relative;
        &:after {
          content: ':';
          position: absolute;
          right: 18px;
        }
        .label-img {
          width: 30px;
          height: 30px;
          border: 1px solid transparent;
          border-radius: 50%;
          background: $grey-color;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 5px;
        }
        h6 {
          margin-bottom: 0;
        }
      }
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  h5 {
    margin-bottom: 30px;
  }

  .h-booking-card {
    padding: 20px;
    border: 1px solid $grey-color;
    background-color: $white-color;
    transition: all .3s ease-in-out;
    .card-content {
      display: flex;
      align-items: flex-start;
      img {
        width: 20px;
        height: auto;
        transform: translateY(4px);
      }
      p {
        margin-left: 5px;
      }
    }
  }
}