.breadcrumb-section {
  .breadcrumb-wrap {
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;

      li {
        margin: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:after {
          content: '';
          background-image: url(../assets/images/icons/next.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          right: -20px;
          width: 10px;
          height: 11px;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }

        a {
          color: $font-color;
          font-weight: 500;
          transition: $transition;
        }
        a {
          &:hover {
            text-decoration: none;
            color: $primary-color;
          }
        }
      }
    }
  }
}