button {
  &.btn-1,
  &.btn-2,
  &.btn-3 {
    min-width: 173px;
  }

  &.btn-1 {
    border-radius: 20px;
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
    color: $grey-color;
  }

  &.btn-2 {
    border-radius: 20px;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $grey-color;
  }

  &.btn-3 {
    border-radius: 20px;
    border: 1px solid $grey-color;
    background-color: $grey-color;
    color: $secondary-color;

    &:hover {
      box-shadow: 0 0 2px 2px rgba($secondary-color, 0.5);
    }
  }

  &.btn-primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
  }

  &.btn-secondary {
    background-color: $white-color;
    border: 2px solid $primary-color;
    color: $primary-color;

    &:hover {
      border: 2px solid $secondary-color;
      background-color: $secondary-color;
    }
  }

  &.cart-btn {
    background-color: $white-color;
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  &.google-btn {
    border: 1px solid $grey-color;
    background-color: $grey-color;
  }

  &.fb-btn {
    border: 1px solid $fb-color;
    background-color: $fb-color;
    color: $grey-color;
  }

  &.edit-btn {
    border: 1px solid $grey-color;
    background-color: $grey-color;
    color: $primary-color;
    position: relative;
    img {
      &.hover-img {
        display: none;
      }
    }
    &:hover {
      img {
        display: none;
        &.hover-img {
          display: block;
        }
      }
    }
  }

  &.read-more {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    img {
      width: 18px;
      height: auto;
      margin-left: 5px;
    }

    span {
      color: $primary-color;
    }

    &:focus {
      outline: none;
    }
  }

  &.btn-1,
  &.btn-2 {
    &:hover {
      color: $grey-color;
      box-shadow: 0 0 2px 2px rgba($secondary-color, 0.5);
    }
  }

  &.btn-primary,
  &.cart-btn,
  &.google-btn,
  &.fb-btn,
  &.edit-btn {
    &:hover {
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      color: $grey-color;
    }
  }

  &.google-btn,
  &.fb-btn,
  &.edit-btn {
    .d-flex {
      align-items: center;
      justify-content: center;
    }

    img {
      margin-right: 10px;
      width: 16px;
      height: 16px;
    }
  }
}
