a {
  &.card {
    color: $font-color;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover {
      text-decoration: none;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
    }
  }
}

.card-section {
  padding-left: 15px;
  padding-right: 15px;
  background-color: $bg-color;

  .directory-card-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 1440px) {
      padding: 0 15rem;
    }

    .directory-card {
      text-align: center;
      margin-right: 9px;
      padding: 30px 20px;
      width: 100%;

      @media screen and (min-width: 768px) {
        width: 210px;
      }
    }

    .card-icon {
      width: 80px;
      height: 80px;
      border: 1px solid $primary-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    h3,
    p {
      margin-bottom: 15px;
    }
  }

  .product-cart-wrap {
    .product-cart {
      background-color: $white-color;

      .card-body {

        h6,
        p {
          margin-bottom: 10px;
        }

        button {
          width: 100%;
        }

        .link {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          a {
            color: $font-color;
            transition: all .3s ease-in-out;
            text-decoration: underline;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .blog-card-wrap {
    .blog-card {
      .footer-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $grey-color;
        padding: 8px 1.25rem;

        .date {
          display: flex;
          align-items: center;

          img {
            margin-right: 5px;
            width: 15px;
            height: auto;
          }
        }
      }
    }
  }

  .our-team-wrap,
  .doctor-list-wrap {
    .card-body {
      text-align: center;
    }
  }

  .vendor-list-wrap {
    .vendor-list-card {
      .card-container {
        display: flex;

        .card-img {
          width: 110px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $grey-color;
        }

        .card-content {
          padding: 15px 10px;

          .btn-wrap {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button {
              &.read-more {
                img {
                  width: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  .medical-com-wrap {
    .medical-com-card {
      .card-label {
        padding: 15px;
        background-color: $bg-color;
        h5 {
          margin-bottom: 0;
        }
      }
      .card-content-wrap {
        padding: 15px;
        .card-content {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 25px;
          .card-text {
            a {
              color: $font-color;
              transition: all .3s ease-in-out;
              &:hover {
                text-decoration: none;
                color: $primary-color
              }
            }

            &.email {
              a {
                color: $primary-color;
                text-decoration: underline;
              }
            }
          }
          img {
            margin-right: 10px;
            width: 18px;
            height: auto;
          }
        }
      }
    }
  }

  .nurse-list-wrap {
    .nurse-list-card {
      .card-container {
        display: flex;
        .card-img {
          width: 200px;
        }
        .card-content {
          width: 100%;
          position: relative;
          h5 {
            padding-top: 20px;
            padding-left: 20px;
            margin-bottom: 10px;            
          }

          .content {
            padding-left: 20px;
            padding-right: 20px;
          }
          .btn-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            background-color: $bg-color;
            width: 100%;
            position: absolute;
            bottom: 0;
            .star-rate-wrap {
              .star {
                img {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.card-img {
  &.img-circle {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .01), 0 2px 10px 0 rgba(0, 0, 0, .1);
      padding: 5px;
      overflow: hidden;
    }
  }
}