$primary-color: #019A48;
$secondary-color: #14342B;
$white-color: #ffffff;
$grey-color: #EEEEEE;
$bg-color: #F6F6F6;
$font-color: #333333;
$fb-color: #3B5998;
$deep-blue: #3B8EA5;
$delete-color: #ABABAB;

$transition: all .3s ease-in-out;

ul {
  margin-bottom: 0;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #cccccc;

  &.banner-section {
    padding: 0;
  }
}
