.require {
  color: red;
  margin-left: 5px;
}

.require-text {
  color: red;
}

// [type="checkbox"]:checked {
//   position: absolute;
//   left: -9999px;
//   visibility: hidden;
// }

// [type="checkbox"].filled-in+label:before,
// [type="checkbox"].filled-in+label:after {
//   content: '';
//   left: 0;
//   position: absolute;
//   transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
//   z-index: 1;
// }

// [type="checkbox"].filled-in:checked+label:before {
//   top: 0;
//   left: 1px;
//   width: 8px;
//   height: 13px;
//   border-top: 2px solid transparent;
//   border-left: 2px solid transparent;
//   border-right: 2px solid #fff;
//   border-bottom: 2px solid #fff;
//   transform: rotateZ(37deg);
//   transform-origin: 100% 100%;
// }

// [type="checkbox"].filled-in:checked+label:after {
//   top: 0px;
//   width: 20px;
//   height: 20px;
//   border: 2px solid #26a69a;
//   background-color: #26a69a;
//   z-index: 0;
// }

// [type="checkbox"]+label {
//   position: relative;
//   padding-left: 35px;
//   cursor: pointer;
//   display: inline-block;
//   height: 25px;
//   line-height: 25px;
//   font-size: 1rem;
// }

// [type="checkbox"].filled-in:not(:checked)+label:before {
//   width: 0;
//   height: 0;
//   border: 3px solid transparent;
//   left: 6px;
//   top: 10px;
//   transform: rotateZ(37deg);
//   transform-origin: 100% 100%;
// }

// [type="checkbox"].filled-in:not(:checked)+label:after {
//   height: 20px;
//   width: 20px;
//   background-color: transparent;
//   border: 2px solid #5a5a5a;
//   top: 0px;
//   z-index: 0;
// }
