.info-text-section {
  h3 {
    margin-bottom: 30px;
  }

  .info-image-wrap {
    position: relative;

    .play-btn-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.02);

      .play-icon {
        background: rgba($primary-color, .48);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 30px;
          height: 30px;
          background-color: $white-color;
          z-index: 0;
        }

        img {
          width: 64px;
          height: 64px;
          z-index: 1;
        }
      }
    }
  }

  &.about-us-section {
    background: url('../assets/images/icons/bg-img.png');
    background-position: center;
    background-size: cover;

    .about-content {
      margin-bottom: 30px;
    }
  }
}