.my-wishlist-section {
    table {
        border-width: 1px solid;
        border-color: #f6f6f6;
        width: 100%;
        thead {
            tr {
                background-color: #f6f6f6;
            }
            th {
                padding: 10px;
                text-align: center;
            }
        }

        tbody {
            tr {
                border: 1px solid;
                border-color: #f6f6f6;
                width: 930px;
                height: 68px;
                td {
                    text-align: center;
                    font-size: 16px;
                }
            }
        }
    }

    product-container {
        display: flex;
        padding: 10px;
        img {
            width: 100px;
        }
        .special-container {
            text-align: start;
            padding: 10px;
            .specialty {
                display: flex;
                .label {
                    display: flex;
                    align-items: center;
                    padding-right: 20px;
                    position: relative;
                    &:after {
                        content: ":";
                        position: absolute;
                        right: 10px;
                    }
                }

                .content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .action {
        display: flex;
        justify-content: space-around;
    }

    .side-menu-item {
        background-color: #f6f6f6;
        margin-bottom: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 10px;
        &:hover {
            text-decoration: none;
            color: $primary-color;
        }
    }
}
