.order-detail-section {
    table {
        border-width : 1px solid;
        border-color : #f6f6f6;
        width        : 100%;
        margin-top   : 10px;
        margin-bottom: 10px;

        thead {
            background-color: #f6f6f6;

            th {
                padding   : 10px;
                text-align: center;
            }
        }

        tbody {
            tr {
                border      : 1px solid;
                border-color: #f6f6f6;
                width       : 930px;
                height      : 68px;

                td {
                    text-align-last: center;
                    font-size      : 16px;
                }
            }
        }
    }

    .gen-info{
        border-top: 0px solid;
        border-bottom: 0px solid;
        border-right: 1px solid;
        border-left: 1px solid;
        border-color: #f6f6f6;
        height: 30px;
    }

    .special-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding   : 10px;

        .specialty {
            display: flex;

            .label {
                display      : flex;
                align-items  : center;
                padding-right: 20px;
                position     : relative;

                &:after {
                    content : ":";
                    position: absolute;
                    right   : 10px;
                }
            }

            .content {
                display        : flex;
                align-items    : center;
                justify-content: center;
            }
        }
    }

    product-container {
        display: flex;
        padding: 10px;

        .product-image {
            width: 100px;
        }

        .product-text {
            padding: 10px;
        }
    }

    .final-info {
        text-align-last: right;
    }

    .txt-label-right{
        margin-right: 6%;
    }

    .txt-right{
        margin-right: 25%;
    }
}