.product-detail-section {
  .detail-slide-wrap {
    .detail-slide-image {
      border: 1px solid $grey-color;
    }
  }

  h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }

  .detail-content {
    margin-bottom: 15px;
    label {
      margin-right: 10px;
      margin-bottom: 0;
    }

    span {
      color: $delete-color;
    }
  }

  i {
    display: block;
    padding-top: 15px;
    border-top: 1px solid $grey-color;
    &.detail-text {
      font-size: 16px;
      font-weight: 600;
      color: $delete-color;
    }
  }

  .detail-drp-wrap {
    margin-top: 25px;
    .detail-drp {
      display: flex;
      align-items: center;
      label {
        color: $font-color;
        font-weight: 500;
        margin-right: 20px;
      }

      input {
        width: 120px;
        border-radius: 0;
      }
      .drp-btn {
        .drp-icon {
          width: 25px;
          height: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgb(206, 212, 218);
          cursor: pointer;
          img {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }

  .btn-wrap {
    margin-top: 25px;
  }

  .sort-by {
    margin-top: 25px;
    label {
      margin-right: 5px;
    }
     a{
       text-decoration: underline;
        &:hover {
          color: $primary-color
        }
     }
  }
}