.shopping-cart-section {
    table {
        border-width: 1px solid;
        border-color: #f6f6f6;
        margin-bottom: 20px;
        width: 100%;
        thead {
            tr {
                background-color: #f6f6f6;
            }
            th {
                padding: 10px;
                text-align: center;
            }
        }

        tbody {
            tr {
                border: 1px solid;
                border-color: #f6f6f6;
                width: 930px;
                height: 68px;
                td {
                    text-align: center;
                    font-size: 16px;
                }
            }
        }
    }

    product-container {
        display: flex;
        padding: 10px;
        img {
            width: 100px;
        }
        .special-container {
            text-align: start;
            padding: 10px;
            .specialty {
                display: flex;
                .label {
                    display: flex;
                    align-items: center;
                    padding-right: 20px;
                    position: relative;
                    &:after {
                        content: ":";
                        position: absolute;
                        right: 10px;
                    }
                }

                .content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .btn-con {
        display: flex;
        justify-content: center;
        input {
            width: 120px;
            border-radius: 0;
        }
        .drp-btn {
            .drp-icon {
                width: 25px;
                height: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgb(206, 212, 218);
                cursor: pointer;
                img {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

    .action {
        display: flex;
        justify-content: space-around;
    }

    .adjust{
        margin-right: 10px;
    }
}
