.order-history-section {
    table {
        border-width: 1px solid;
        border-color: #f6f6f6;
        width: 100%;
        thead {
            tr {
                background-color: #f6f6f6;
            }
            th {
                padding: 10px;
                text-align: center;
            }
        }

        tbody {
            tr {
                border: 1px solid;
                border-color: #f6f6f6;
                width: 930px;
                height: 68px;
                td {
                    text-align: center;
                    font-size: 16px;

                    .action{
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .side-menu-item {
        background-color: #f6f6f6;
        margin-bottom: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 10px;
        &:hover {
            text-decoration: none;
            color: $primary-color;
        }
    }
}
