html,
body {
  font-family: "Barlow", sans-serif;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 32px;

  @media screen and (min-width: 992px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;

  @media screen and (min-width: 992px) {
    font-size: 32px;
  }
}

h3 {
  font-weight: 600;
  font-size: 18px;

  @media screen and (min-width: 992px) {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
}


table {
  th {
    font-size: 14px;

    @media screen and (min-width: 576px) {
      font-size: 16px;
    }
  }

  p {
    font-size: 13px;

    @media screen and (min-width: 576px) {
      font-size: 16px;
    }
  }
}

.sub-title {
  font-size: 20px;
  font-weight: 500;
}

.label {
  color: $font-color;
  font-size: 16px;
  font-weight: 500;
}

.desc {
  font-size: 14px;
}

.semi-bold {
  font-size: 16px;
  color: #333333;
}

.text {
  font-size: 13px;
}

.heightlight-text-reg {
  color: $primary-color;
  font-weight: 400;
}

.heightlight-text-med {
  color: $primary-color;
  font-weight: 500;
}

.highlight-text {
  color: $primary-color;
  font-weight: 600;
}

del {
  color: $delete-color;
  margin-right: 10px;
  font-weight: 400;
}