.breadcrumb-section {
  .vendor-breadcrumb-wrap {
    background-color: $primary-color;

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;

      li {
        margin: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          padding: 8px 16px;
          background-color: $white-color;
        }

        img {
          width: 98px;
          height: auto;
        }

        a {
          color: #ffffff;
          padding: 8px;
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

          &:hover {
            text-decoration: none;
          }

          &.active,
          &:hover {
            background-color: #00A74D;
          }
        }
      }
    }
  }
}