<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title ACS Components
		link(rel="stylesheet", href="./plugin/plugin.min.css")
		link(rel="stylesheet", href="./style/style.css")
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap" rel="stylesheet">
	body
		include ./components/_banner.pug
		include ./components/_banner-slide.pug
		include ./components/_typography.pug
		include ./components/_form.pug
		include ./components/_button.pug
		include ./components/_breadcrumb.pug
		include ./components/_vendor-breadcrumb.pug
		include ./components/_card.pug
		include ./components/_booking-info.pug
		include ./components/_info-text.pug
		include ./components/_product-detail.pug

		<script src="https://kit.fontawesome.com/0fdd460947.js" crossorigin="anonymous"></script>
		