<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title ACS Components
		link(rel="stylesheet", href="./plugin/plugin.min.css")
		link(rel="stylesheet", href="./style/style.css")
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">
	body
		//- include ./components/_vendor-breadcrumb.pug
		//- include ./components/_table.pug
		//- include ./components/_order-detail.pug
		include ./components/_booking-history.pug
		include ./components/_my-wishlist.pug
		include ./components/_shopping-cart.pug

		<script src="https://kit.fontawesome.com/0fdd460947.js" crossorigin="anonymous"></script>
		