section.banner-section
  .banner-slide-wrap
    .slide-img
      img.img-fluid(src="./assets/images/uploads/banner-img.png", alt="")
    .banner-title-wrap
      .title-content
        .banner-title
          h1 Welcome to Medical Myanmar
        .banner-sub-title
          p.sub-title Search Doctors and Book appointments online, instantly
        .btn-wrap
          button.btn.btn-2 Find A Hospital
          button.btn.btn-3 Find A Hospital
          button.btn.btn-2 Find A Hospital
        .mouse-icon-wrap
          a.scroll-down(href="#")
            .mouse-icon
              .circle
