section.booking-info-section
  .container
    .row
      .col-12
        .booking-header
          span.heightlight-text-med Choose Hospital
        .specialty-wrap
          .specialty
            .label
              .label-img
                img(src="./assets/images/icons/specialty.svg", alt="")
              h6 Specialty
            .content
              | Anaesthesiology
        h5 Hospitals in Yangon
      - for(let i=0; i<6; i++)  
        .col-md-6.mb-4
          a.card.h-booking-card(href="#")
            h6 Hospital Name Lorem Ipsum
            .card-content
              img(src="./assets/images/icons/location-pin.svg", alt="")
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
