section.booking-history-section
	.container
		.row
			.col-lg-3.mb-4
				.sidebar-menu
					.side-menu-item.semi-bold Profile Information
					.side-menu-item.semi-bold Booking History
					.side-menu-item.semi-bold Order History
					.side-menu-item.semi-bold My Wishlist
					.side-menu-item.semi-bold Change Password
			.col-lg-9.mb-4
				h3 Booking History
				hr
				table
					thead
						tr
							th Doctor Name
							th Hospital Name
							th Date Time
							th Status
							th
					tbody
						- data = [{doctor_name: 'Doctor One', hospital_name: 'Hospital One', image: './assets/images/uploads/cart-img-1.png', date:'15/06/2020 10:00 AM - 01:00 PM', status: 'pending'},{doctor_name: 'Doctor Two', hospital_name:'Hospital Two', image: './assets/images/uploads/cart-img-2.png', date:'15/06/2020 10:00 AM - 01:00 PM', status: 'pending'}]
						- for(let i=0; i<data.length; i++)
							tr
								td
									.doctor-container
										img.doctor-image(src=data[i].image, alt="cart image")
										p #{data[i].doctor_name}
								td
									p #{data[i].hospital_name}
								td
									p 15/06/2020
									p 10:00 AM - 01:00 PM
								td 
									p #{data[i].status}
								td 
									a.text.heightlight-text-med.cancel(href='') Cancel Booking