section
  .container
    .col-12
      h1 Button
      br
    .col-12.mb-5
      button.btn.btn-1 Explore more
      button.btn.btn-2 Explore more
      button.btn.btn-3 Explore more
    .col-12.mb-5
      button.btn.btn-primary Primary Button
      button.btn.btn-secondary Secondary Button
      button.btn.cart-btn Cart Button
    .col-12.mb-5
      button.btn.google-btn
        .d-flex
          img(src="./assets/images/icons/google.svg", alt="")
          span Login in With Google
      button.btn.fb-btn
        .d-flex
          img(src="./assets/images/icons/facebook.svg", alt="")
          span Login with Facebook
      button.btn.edit-btn
        .d-flex
          img(src="./assets/images/icons/edit.svg", alt="")
          img.hover-img(src="./assets/images/icons/edit-white.svg", alt="")
          span Edit Profile