section.card-section
	.directory-card-wrap
		- for(let i=0; i<6; i++)
			.card.directory-card.mb-2
				.card-icon
					img(src="./assets/images/icons/hospital.svg", alt="")
				h3 Hospital
				p.card-text
					| Lorem Ipsum is simply dummy text of the
				button.btn.cart-btn Find Hospital
				
section.card-section
	.product-cart-wrap
		.container
			.row
				- data = [{title: 'Low temperature sterilizer', image: './assets/images/uploads/cart-img-1.png', price: 3000000},{title: 'High Intensity Focus Ultrasound', image: './assets/images/uploads/cart-img-2.png', price: 4000000, del_price: 4500000},{title: 'Low temperature sterilizer', image: './assets/images/uploads/cart-img-3.png', price: 1000000, del_price: 3000000}]
				- for(let i=0; i<data.length; i++)
					.col-lg-4.col-md-6.mb-4
						.card.product-cart
							.card-img
								img.card-img-top.img-fluid(src=data[i].image, alt="cart image")
							.card-body
								h6 #{data[i].title}
								span.card-text
									| Lorem Ipsum
								p.highlight-text
									- if(data[i].del_price)
										del #{data[i].del_price}
									span #{data[i].price}
								p Lorem Ipsum is simply dummy text of the printing
								p.link
									a(href="") Renosem
								button.btn.cart-btn Add To Cart

section.card-section
	.blog-card-wrap
		.container
			.row
				- blogData = [{title: 'Blog title 1', image: './assets/images/uploads/blog-img-1.png'},{title: 'Blog Title 2', image: './assets/images/uploads/blog-img-2.png'},{title: 'Blog Title 3', image: './assets/images/uploads/blog-img-3.png'}]
				- for(let i=0; i<blogData.length; i++)
					.col-lg-4.col-md-6.mb-4
						a.card.blog-card(href="#")
							.card-img
								img.card-img-top.img-fluid(src=blogData[i].image, alt="cart image")
							.card-body
								h6 #{blogData[i].title}
								p Lorem Ipsum is simply dummy text of the printing ...
							.footer-card
								.date
									img(src="./assets/images/icons/calendar.svg", alt="")
									span 12/06/2020
								button.read-more 
									span Read More
									img(src="./assets/images/icons/right-arrow.svg", alt="")

section.card-section
	.our-team-wrap
		.container
			.row
				- for(let i=0; i<4; i++)
					.col-lg-3.col-md-4.mb-4
						a.card.team-card(href="#")
							.card-img
								img.img-fluid(src="./assets/images/uploads/our-team.png", alt="")
							.card-body
								h5 Mike Harward
								p.heightlight-text-med Professor

section.card-section
	.doctor-list-wrap
		.container
			.row
				- doctorData = [{name: 'Dr. Cassandra Palmateer', image: './assets/images/uploads/our-team.png'},{name: 'Dr. Vivian Kelii', image: './assets/images/uploads/our-team.png'},{name: 'Dr. Jonas Mulac', image: './assets/images/uploads/our-team.png'}]
				- for(let i=0; i<doctorData.length; i++)
					.col-md-4.mb-4
						a.card.doctor-list-card(href="#")
							.card-img.img-circle
								.img-wrap
									img.img-fluid(src=doctorData[i].image)
							.card-body
								h5 #{doctorData[i].name}

section.card-section
	.vendor-list-wrap
		.container
			.row
				- vendorData = [{title: 'Lorem Ispum Co., Ltd.', image: './assets/images/uploads/vendor-1.png'},{title: 'Lorem Ispum Co., Ltd.', image: './assets/images/uploads/vendor-2.png'},{title: 'Lorem Ispum Co., Ltd.', image: './assets/images/uploads/vendor-3.png'}]
				- for(let i=0; i<vendorData.length; i++)	
					.col-lg-4.col-md-6.mb-4
						a.card.vendor-list-card(href="#")
							.card-container
								.card-img
									img.img-fluid(src=vendorData[i].image)
								.card-content
									h6 #{vendorData[i].title}
									p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									.btn-wrap
										button.read-more 
											span Go To Store
											img(src="./assets/images/icons/right-arrow.svg", alt="")
										
section.card-section
	.medical-com-wrap
		.container
			.row
				- for(let i=0; i<4; i++)
					.col-md-12.mb-4
						.card.medical-com-card
							.card-label
								h5 Medical Company Name
							.card-content-wrap
								.card-content
									img(src="./assets/images/icons/pin.svg")
									.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								.card-content
									img(src="./assets/images/icons/phone.svg")
									.card-text
										a(href="tel:") +95 xxxxxxxxx, 
										a(href="tel:") +95 xxxxxxxxx, 
										a(href="tel:") +95 xxxxxxxxx
								.card-content
									img(src="./assets/images/icons/mail.svg")
									.card-text
										a(href="mailto:") info@xxxxxxxxx.com
								.card-content
									img(src="./assets/images/icons/world.svg")
									.card-text.email
										a(href="#") xxxxxxxxx.com

section.card-section
	.nurse-list-wrap
		.container
			.row
				- for(let i=0; i<5; i++)	
					.col-md-12.mb-4
						a.card.nurse-list-card(href="#")
							.card-container
								.card-img
									img.img-fluid(src='./assets/images/uploads/Final.png')
								.card-content
									h5 Nurse Name
									.content Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									.btn-wrap
										.star-rate-wrap
											.star
												- for(let i=0; i<4; i++)
													img(src="./assets/images/icons/full-star.svg", alt="")
												img(src="./assets/images/icons/empty-star.svg", alt="")
										button.read-more 
											span View Detail
											img(src="./assets/images/icons/right-arrow.svg", alt="")



								
								


