section.form-section
	.container
		.row
			.col-12
				form
					.form-group
						label(for='input-text') 
							| Input Text Type
							span.require *
						input#input-text.form-control(type='text', placeholder='Input Text')
						small.form-text.require-text Require Field

					.form-check
						input#filled-in-box.form-check-input.filled-in(type='checkbox')
						label(for='filled-in-box') Check me out
					button.btn.btn-primary(type='submit') Submit