section.info-text-section
  .container
    .row
      .col-md-6
        h3 Who We Are
        p ACS MYANMAR MEDICAL is established in 2013 with its core business on providing Advance Medical Devices for Healthcare institutions and Medical Practitioners. We provide Advance Medical Devices which are imported from established manufacturers with worldwide recognition accreditation and certification. ACS Myanmar Medical Co., Ltd aims to contribute to the Healthcare sectors and to deliver advance medical equipment that benefit the patients and lead them to a better Quality of Life. With strategic planning, marketing activities and sales, we strive to be the top distributor and the key leader for distribution of the latest and quality medical devices and systems.
      
      .col-md-6
        .info-image-wrap
          img.img-fluid(src="./assets/images/uploads/blog-img-1.png", alt="")
          .play-btn-wrap
            .play-icon
              img(src="./assets/images/icons/play-button.svg", alt="")

section.info-text-section
  .container
    .row
      .col-md-6
        .info-image-wrap
          img.img-fluid(src="./assets/images/uploads/blog-img-1.png", alt="")
      .col-md-6
        h3 About Medical Myanmar
        p About Medical Myanmar Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy textLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy textLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text

section.info-text-section.about-us-section
  .container
    .row
      .col-md-6.mb-5
        h3 Company Profile
        p About Medical Myanmar Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy textLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy textLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text
      
      .col-md-6.mb-5
        .info-image-wrap
          img.img-fluid(src="./assets/images/uploads/about-us.png", alt="")
      
      .col-md-12
        .about-content
          h5 Haifu Online Store in Myanmar - ACSMyanmarmedical.com
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply ummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.

      .col-md-12
        .about-content
          h5 Buy Haifu Products Online From ACSMyanmarmedical.comd
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply ummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.

