section.my-wishlist-section
	.container
		.row
			.col-lg-3.col-md-6.mb-4
				.side-menu-item.semi-bold Profile Information
				.side-menu-item.semi-bold Booking History
				.side-menu-item.semi-bold Order History
				.side-menu-item.semi-bold My Wishlist
				.side-menu-item.semi-bold Change Password
			.col-lg-9.col-md-6.mb-4
				h3 My Wishlist
				hr
				table
					thead
						tr
							th Product Name
							th Price
							th
					tbody
						- data = [{product_name: 'Producyt One', model: 'Model JC', brand: 'Haifu', image: './assets/images/uploads/cart-img-1.png', price:3000},{product_name: 'Producyt Two', model:'Model IC', brand:'Haifu', image: './assets/images/uploads/cart-img-2.png', price: 2000}]
						- for(let i=0; i<data.length; i++)
							tr
								td
									product-container
										img.product-image(src=data[i].image, alt="product image")
										.special-container
											p #{data[i].product_name}
											.specialty
												.label
													p Model
												.content #{data[i].model}
											.specialty
												.label
													p Brand
												.content #{data[i].brand}
								td=data[i].price
								td
									.action
										a(href='#') Add to Cart
										a(href='#') Remove