section.order-detail-section
	.container
		h4 Order No. -0000011
		p Deliver To : No.97, Xxxxx Street, Lanmadaw, Yangon
			table
				thead
					tr
						th Product Name
						th Price
						th Quantity
						th Subtotal
				tbody
					- data = [{produt_name: 'Product One', image: './assets/images/uploads/cart-img-1.png', price: 10000, qty: 2, sub_total: 20000},{produt_name: 'Product Two', image: './assets/images/uploads/cart-img-2.png', price: 10000, qty:3, sub_total: 30000}]
					- for(let i=0; i<data.length; i++)
						tr
							td
								product-container
									img.product-image(src=data[i].image, alt="cart image")
									.span.product-text #{data[i].produt_name}
							td=data[i].price + ' Ks'
							td=data[i].qty
							td.final-info
								.txt-right #{data[i].sub_total} Ks
				tr.gen-info
					td.final-info(colspan='3')
						.txt-label-right SubTotal :
					td.final-info 
						.txt-right 160,000 Ks
				tr.gen-info
					td.final-info(colspan='3')
						.txt-label-right Taxes :
					td.final-info 
						.txt-right 00
				tr.gen-info
					td.final-info(colspan='3')
						.txt-label-right Delivery Charge :
					td.final-info 
						.txt-right 3,000 Ks
				tr 
					td.final-info(colspan='3')
						.txt-label-right Total :
					td.final-info 
						.txt-right 53000 Ks
		a(href='') Back To Order History