section.product-detail-section
	.container
		.row
			.col-md-6
				.detail-slide-wrap
					.detail-slide-image
						img.img-fluid(src="./assets/images/uploads/about-us.png", alt="")
			.col-md-6
				h3 High Intensity Focus Ultrasound
				.detail-content
					label.label Model :
					span Model JC
				.detail-content
					label.label Brand :
					span Haifu
				hr
				p "you will need doctor recommandtion letter to buy this product"
				.detail-drp-wrap
					.form-group.detail-drp
						label Quantity
						input.form-control(type='text', value="1")
						.drp-btn
							.drp-icon
								img(src="./assets/images/icons/caret-up.svg", alt="")
							.drp-icon
								img(src="./assets/images/icons/caret-down.svg", alt="")
				.btn-wrap
					button.btn.btn-primary Request Quotation
				.sort-by
					label Sold by: 
					a.heightlight-text-med(href="#") Haifu
				