section.shopping-cart-section
	.container
		table
			thead
				tr
					th Product Name
					th Price
					th Quantity
					th Subtotal
					th
			tbody
				- data = [{product_name: 'High Intensity Focus Ultrasound', model: 'Model JC', brand: 'Haifu', image: './assets/images/uploads/cart-img-1.png', price:3000, qty: 1, subtotal: 3000},{product_name: 'Low Temprature Sterilizer', model:'Model IC', brand:'Haifu', image: './assets/images/uploads/cart-img-2.png', price: 2000, qty: 2, subtotal: 4000}]
				- for(let i=0; i<data.length; i++)
					tr
						td
							product-container
								img.product-image(src=data[i].image, alt="product image")
								.special-container
									p #{data[i].product_name}
									.specialty
										.label
											p Model
										.content #{data[i].model}
									.specialty
										.label
											p Brand
										.content #{data[i].brand}
						td=data[i].price
						td
							.btn-con
								input.form-control(type='text', value=`${data[i].qty}`)
								.drp-btn
									.drp-icon
										img(src="./assets/images/icons/caret-up.svg", alt="")
									.drp-icon
										img(src="./assets/images/icons/caret-down.svg", alt="")
						td=`$ ${data[i].subtotal}`
						td
							.action
								a(href='#') Remove
		button.btn.btn-primary.adjust Primary Button
		button.btn.edit-btn
			.d-flex
			img(src="./assets/images/icons/edit.svg", alt="")
			img.hover-img(src="./assets/images/icons/edit-white.svg", alt="")
			span Edit Profile