section.order-history-section
	.container
		.row
			.col-lg-3.col-md-6.mb-4
				.side-menu-item.semi-bold Profile Information
				.side-menu-item.semi-bold Booking History
				.side-menu-item.semi-bold Order History
				.side-menu-item.semi-bold My Wishlist
				.side-menu-item.semi-bold Change Password
			.col-lg-9.col-md-6.mb-4
				h3 Order History
				hr
				table
					thead
						tr
							th Order No.
							th Order Date
							th Items
							th Total Amount
							th Status
							th Shipped To
							th 
					tbody
						- for(let i=0; i<5; i++)
							tr
								td=i+1
								td=i+1 + '/06/2020'
								td Item Name One
								td 10,000 Ks
								td Shipped
								td No 97, Xxxxx Street, Lanmadaw, Yangon
								td 
									button.btn.cart-btn.action Detail
