section.typo-section
  .container
    .row
      .col-12
        h1 Typography
        br
        h1 H1 Header
        h2 H2 Header
        h3 H3 Header
        h4 H4 Header
        h5 H5 Header
        h6 H6 Header
        p Default Font
        p.desc Descrption Text
        p.text Small Text