section.breadcrumb-section
  .vendor-breadcrumb-wrap
    .container
      .row
        .col-12
          ul
            li
              img(src="./assets/images/uploads/haifu.png", alt="")
            li
              a(href="./") Home
            li
              a(href="./") All Products
            li
              a.active(href="./") Company Profile

          


